<?php include_once root_path("view") . "header.html"; ?>
<!-- 安装 -->
<nav>
    <ol class="breadcrumb my-4">
        <li class="breadcrumb-item"><a href="./">baiduwp-php</a></li>
        <li class="breadcrumb-item"><a href="./install">Installation</a></li>
    </ol>
</nav>
<div class="alert alert-primary" role="alert">
    <h4 class="alert-heading">Tips</h4>
    <hr>
    <p>To minimize some unnecessary errors, please read this installation tip carefully.</p>
    <p style="color: red;">Due to Baidu's modification of the API, after updating the version, you need to set the complete cookie parameters, which can be obtained by grabbing packets.</p>

    <h5>Please check at the time of initial installation:</h5>
    <ol>
        <li>Please make sure your PHP version is ≥ 8.0.0.</li>
        <li>Make sure that PHP has sufficient access rights to the current directory and all files in it.</li>
        <li>Make sure curl is installed.</li>
        <li>Please make sure that the JavaScript file is loaded correctly on the current page. Check the browser console for any errors.</li>
    </ol>
    <h5>Please check when the software is updated:</h5>
    <ol>
        <li>(If database is enabled) The database has been backed up.</li>
        <li>Please make sure that the JavaScript file is loaded correctly on the current page. Check the browser console for any errors.</li>
    </ol>
    <h5>After updating the software, please:</h5>
    <ol>
        <li>Clear the CDN cache (if accelerated by a CDN).</li>
        <li>Browser cache exists, please press Ctrl+F5 to force refresh, or go to the settings page to delete the cache.</li>
    </ol>
    <hr>
    <h5>Use the tips:</h5>
    <ol>
        <li>Due to the use of the sharing interface, there is a situation where the client is not speed-limited and the project shows speed-limited.</li>
        <li>Do not "log out" or "change password" after obtaining a cookie for your account, as these two actions will invalidate the cookie. Please use the incognito mode of your browser to get the cookie, and close the browser directly after getting the cookie.</li>
    </ol>
</div>

<div class="card">
    <div class="card-header">
        Installation
    </div>
    <div class="card-body">
        <form action="install.php" method="post" id="SettingForm">
            <h5 class="card-title">Site settings</h5>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Admin password</label>
                <div class="col-sm-10">
                    <input class="form-control" name="ADMIN_PASSWORD" value="">
                    <small class="form-text">Must be 6 characters or longer.</small>
                </div>
            </div>
            <p>Visit the administration panel after site installation for additional settings.</p>
            <hr />
            <h5 class="card-title">Database settings</h5>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Use database?</label>
                <div class="col-sm-10">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="USING_DB" id="USING_DB1" value="true" checked>
                        <label class="form-check-label" for="USING_DB1">
                            Yes
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="USING_DB" id="USING_DB2" value="false">
                        <label class="form-check-label" for="USING_DB2">
                            No
                        </label>
                    </div>
                    <small class="form-text">Additional features like account-switching and black/whitelisting requires the database. You will need to reinstall to change this setting.</small>
                </div>
            </div>
            <div id="DbConfig">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Type</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="DB_DRIVER">
                            <option value="mysql">MySQL</option>
                            <option value="sqlite">SQLite</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row" id="dbhost-field">
                    <label class="col-sm-2 col-form-label">Host</label>
                    <div class="col-sm-10">
                        <input class="form-control" name="DB_HOST" value="127.0.0.1">
                        <small class="form-text">Fill the MySQL database host address</small>
                    </div>
                </div>
                <div class="form-group row" id="username-field">
                    <label class="col-sm-2 col-form-label">User</label>
                    <div class="col-sm-10">
                        <input class="form-control" name="DB_USER" value="">
                    </div>
                </div>
                <div class="form-group row" id="password-field">
                    <label class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input class="form-control" name="DB_PASS" value="">
                    </div>
                </div>
                <div class="form-group row" id="dbname-field">
                    <label class="col-sm-2 col-form-label">SQLite database path</label>
                    <div class="col-sm-10">
                        <input class="form-control" name="DB_NAME" value="">
                        <small class="form-text">If this database does not exist it will be created automatically when the connection is checked.</small>
                    </div>
                </div>
                <a href="javascript:CheckMySQLConnect();" class="btn btn-primary">Check settings</a>
            </div>
            <hr />
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="DisclaimerCheck">
                <label class="form-check-label" for="DisclaimerCheck">
                    <p class="text-danger"><strong>I understand and agree that</strong> use of this program is only for learning and research purposes, never for commercial use, any consequences arising are not the responsibility of the open source project developers.</p>
                </label>
            </div>
            <!-- 已经读取了配置，没必要确认 -->
            <a href="javascript:CheckForm();" class="btn btn-primary">Install</a>
            <br><br>


            <script>
                async function postAPI(method, body) { // 获取 API 数据
                    try {
                        const response = await fetch(`${ROOT_PATH}/install/${method}`, { // fetch API
                            credentials: 'same-origin', // 发送验证信息 (cookies)
                            method: 'POST',
                            headers: {
                                "Accept": "application/json",
                                "Content-type": "application/x-www-form-urlencoded; charset=UTF-8",
                            },
                            body: body,
                        });
                        if (response.ok) { // 判断是否出现 HTTP 异常
                            return {
                                success: true,
                                data: await response.json() // 如果正常，则获取 JSON 数据
                            }
                        } else { // 若不正常，返回异常信息
                            return {
                                success: false,
                                msg: `The server returned an abnormal HTTP status code: HTTP ${response.status} ${response.statusText}.`
                            };
                        }
                    } catch (reason) { // 若与服务器连接异常
                        return {
                            success: false,
                            msg: 'An exception occurred during the connection to the server, message:' + reason.message
                        };
                    }
                }

                function generateRandomString(length) {
                    let result = '';
                    let characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
                    let charactersLength = characters.length;
                    for (let i = 0; i < length; i++) {
                        result += characters.charAt(Math.floor(Math.random() * charactersLength));
                    }
                    return result;
                }

                $("input[name='USING_DB']").on('click', function() {
                    let item = $(this).val();
                    if (item === "false") {
                        $("div#DbConfig").slideUp();
                        $("select#SVIPSwitchMod").val("0");
                    } else {
                        $("div#DbConfig").slideDown();
                    }
                });

                $("select[name='DB_DRIVER']").on('change', function() {
                    // 根据所选值判断是否隐藏输入框
                    if ($(this).val() === 'sqlite') {
                        // sqlite
                        $('#username-field').hide();
                        $('#password-field').hide();
                        $('#dbhost-field').hide();

                        $('input[name="DB_NAME"]').val('bdwp.db');
                    } else {
                        // mysql
                        $('#username-field').show();
                        $('#password-field').show();
                        $('#dbhost-field').show();

                        $('input[name="DB_NAME"]').val('');
                    }
                });
                let SQLConnect = false;

                function CheckMySQLConnect() {
                    Swal.fire("Connecting to the database. Please wait...");
                    Swal.showLoading();
                    let driver = $("select[name='DB_DRIVER']").val()
                    let host = $("input[name='DB_HOST']").val();
                    let user = $("input[name='DB_USER']").val();
                    let pass = $("input[name='DB_PASS']").val();
                    let name = $("input[name='DB_NAME']").val();

                    let body = `driver=${driver}&host=${host}&user=${user}&pass=${pass}&name=${name}`;

                    postAPI('test_db_connect', body).then(function(response) {
                        if (response.success) {
                            const data = response.data;
                            if (data.error === 0) {
                                // 连接成功
                                Swal.fire("Success!", "Database connection successful. Detailed information: " + data.msg, "success");
                                $("input[name='DB_HOST']").attr("readonly", true); // 禁用修改，防止提交后出错
                                $("input[name='DB_USER']").attr("readonly", true);
                                $("input[name='DB_PASS']").attr("readonly", true);
                                $("input[name='DB_NAME']").attr("readonly", true);
                                SQLConnect = true;
                            } else {
                                // 连接失败
                                Swal.fire("Failed", "Please check your database settings and try again.<br />Detailed information: " + data.msg, "error");
                            }
                        }
                    }).catch(function(reason) {
                        Swal.fire("Exception during connection to database", "Please check your database status and settings<br />Detailed information: " + reason.message, "error");
                    });

                }

                function CheckForm() {
                    Swal.fire("Installation is in progress, please wait...");
                    Swal.showLoading();
                    let USING_DB = $("input[name='USING_DB']:checked").val();
                    let ADMIN_PASSWORDLength = $("input[name='ADMIN_PASSWORD']").val().length;

                    if (ADMIN_PASSWORDLength < 6) {
                        // 密码过短
                        Swal.fire("Invalid admin password", "The administrator password must be 6 or more characters long.", "warning");
                        return 0;
                    }
                    if (USING_DB === "true") {
                        if (!SQLConnect) {
                            // 暂未连接数据库
                            Swal.fire("Warning", "Make sure the database connection test passes before continuing.", "warning");
                            return 0;
                        }
                    }
                    let DisclaimerCheck = $("#DisclaimerCheck").prop("checked");
                    if (DisclaimerCheck === false) {
                        Swal.fire("Please agree to the disclaimer", "Please agree to the disclaimer before clicking submit.", "warning");
                        return 0;
                    }
                    let driver = $("select[name='DB_DRIVER']").val()
                    let host = $("input[name='DB_HOST']").val();
                    let user = $("input[name='DB_USER']").val();
                    let pass = $("input[name='DB_PASS']").val();
                    let name = $("input[name='DB_NAME']").val();
                    let ADMIN_PASSWORD = $("input[name='ADMIN_PASSWORD']").val();

                    let body = `USING_DB=${USING_DB}&ADMIN_PASSWORD=${ADMIN_PASSWORD}&driver=${driver}&host=${host}&user=${user}&pass=${pass}&name=${name}`;

                    postAPI('install', body).then(function(response) {
                        if (response.success) {
                            const data = response.data;
                            if (data.error === 0) {
                                // 安装成功
                                Swal.fire("Success!", `Redirecting to ${ROOT_PATH}/admin...`, "success").then(function(e) {
                                    window.location.href = `${ROOT_PATH}/admin`;
                                });
                            } else {
                                // 安装失败
                                Swal.fire("Failed", "Please check your settings and resubmit.<br />Detailed information: " + data.msg, "error");
                            }
                        }
                    }).catch(function(reason) {
                        Swal.fire("Failed", "Please check your settings and resubmit.<br />Detailed information: " + reason.message, "error");
                    });
                }

                // 检查是否为 docker 环境
                let body = `driver=mysql&host=172.28.0.2&user=root&pass=root&name=bdwp`;
                postAPI('test_db_connect', body).then(function(response) {
                    if (response.success) {
                        const data = response.data;
                        if (data.error === 0) {
                            // 连接成功
                            Swal.fire("Docker environment detected", "The database has been automatically configured and connected, please complete the rest of the information and submit.<br />Detailed information: " + data.msg, "success");
                            $("input[name='DB_HOST']").val("172.28.0.2");
                            $("input[name='DB_USER']").val("root");
                            $("input[name='DB_PASS']").val("root");
                            $("input[name='DB_NAME']").val("bdwp");
                            $("input[name='DB_HOST']").attr("readonly", true); // 禁用修改，防止提交后出错
                            $("input[name='DB_USER']").attr("readonly", true);
                            $("input[name='DB_PASS']").attr("readonly", true);
                            $("input[name='DB_NAME']").attr("readonly", true);
                            SQLConnect = true;
                        } else {
                            // 连接失败
                            console.log("Checking the Docker environment fails", data);
                        }
                    }
                }).catch(function(reason) {
                    console.log("Checking for errors in the Docker environment", reason);
                });
            </script>
    </div>
</div>

<?php include_once root_path("view") . "footer.html"; ?>